@import "tailwindcss";

@theme {
    --color-primary: oklch(69.6% 0.17 162.48);
    --color-neutral: oklch(55.4% 0.046 257.417);
    --color-base-100: oklch(12.9% 0.042 264.695);
    --color-base-200: oklch(27.9% 0.041 260.031);
    --color-base-300: oklch(44.6% 0.043 257.281);
    --color-content: oklch(96.8% 0.007 247.896);
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-neutral text-content font-mono relative;
}

h1 {
    @apply text-3xl font-bold md:text-4xl cursor-default;
}

h2 {
    @apply text-2xl font-semibold md:text-3xl cursor-default;
}

h3 {
    @apply text-xl md:text-2xl cursor-default;
}

p {
    @apply cursor-default
}

header, section, footer {
    @apply min-w-full;
}

header {
    @apply fixed top-0 left-0 bg-base-100 p-4 md:flex md:justify-between;
}

a {
    @apply cursor-pointer hover:text-content transition duration-300 ease-out;
}

header a{
    @apply hover:text-primary;
}

nav ul {
    @apply flex gap-4 py-2;
}

section {
    @apply min-h-screen;
}